@font-face {
    font-family: 'Nunito';
    src: url('../../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

.fitty-text {
    white-space: normal !important;
    display: block !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 1000px #EAEAEA inset;
  -webkit-text-fill-color: #000; /* optional: fixes color override */
}

.contact-form input,
contact-form textarea,
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Nunito'; 
  font-size: 1.5rem;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

h1 {
    color: #9EBBE8;
    font-weight: 900;
    cursor: default;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: 'Nunito';
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #9EBBE8;
}

.full-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.background-pattern {
    width: 100%;
    height: 100%;
    background-image: url('./assets/background_pattern/nubs/nubs_pattern.svg');
    background-repeat: repeat;
    background-size: auto 25%;
    background-position: 0 0;
    opacity: .5;
}

.content-container {
    position: relative;
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    padding: 0 50px 100px;
}

.section-title {
    cursor: default;
}

section:first-of-type > .title {
    margin: 20px 0 -20px 0;
}

.title:not(first-of-type) {
    margin: 50px 0 15px 0;
}


.section-title:first-of-type {
    margin: 0 0 25px 0;
}

.section-item {
    color: #2C4A6E;
    padding-left: 8px;
}

.item-title{
    color: #2C4A6E;
    font-family: 'Nunito';
    background-color: none;
    border-radius: none;
    border: none;
    font-size: 5rem;
}

.item-title:hover {
    color: #FAA548;
    cursor: pointer;
}

.item-description-container {
    max-height: 0;
    overflow: hidden;
    padding: 0 45px;
    margin: 0;
    opacity: 0;
    transition: 
        padding 1s cubic-bezier(0.25, 0.1, 0.25, 1),
        max-height 1s cubic-bezier(0.25, 0.1, 0.25, 1),
        opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.item-description-container.visible {
    max-height: 1000px;
    opacity: 1;
    padding: 40px 45px 45px;
}

.section-item:last-of-type .item-description-container.visible {
    padding-bottom: 0px;
}

p.item-description {
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

p.item-description a {
    color: #FAA548;
    cursor: pointer;
    text-decoration: none;
    float: right;
    padding-right: 15px;
}

.section-item .item-description a {
    padding: 45px 0 0 0;
}

.section-item:last-of-type .item-description a {
    padding: 45px 0 0;
}

.call-to-action {
    margin-top: 5px;
}
  
.call-to-action h1:nth-child(2) {
    margin-top: -40px;
}
  
.call-to-action h1:nth-child(3) {
    margin-top: -60px;
}
  
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.input-wrapper {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.input-wrapper label {
    font-size: 5rem;
    margin: 10px 0;
    color: #2C4A6E;
    display: block;
    padding-left: 10px;
}

.input-wrapper input,
.input-wrapper textarea {
    width: 100%;
    height: 70px;
    border: 0;
    background-color: #EAEAEA;
    font-size: 2rem;
    padding: 0 0 0 25px;
    outline: none;
    border-radius: 35px;
    box-sizing: border-box;
}

.input-wrapper input {
    margin-top: 5px;
}

.input-wrapper textarea {
    height: 500px;
    padding: 25px;
    resize: none;
    font-family: 'Nunito', sans-serif;
    margin-top: 5px;
}

.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder {
    opacity: 0.5;
}

.contact-form textarea {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    border-radius: 35px;
    border: 0;
    background-color: #EAEAEA;
    margin: 10px 20px 10px 0;
    font-size: 2rem;
    padding: 25px;
    resize: none;
    outline: none;
}

.submit-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.submit-message,
.submit-button {
    width: auto;
    margin: 10px 0;
    font-size: 5rem;
}


.submit-button {
    width: auto;
    height: 70px;
    float: right;
    margin: 10px 0;
    padding: 0 5px;
    cursor: pointer;
    font-family: 'Nunito';
    font-size: clamp(3rem, 5vw, 5rem);
    background: none;
    outline: none;
    border: none; 
    border-radius: 0;
    color: #2C4A6E;
}

.submit-button:hover {
    color: #FAA548;
}

.alert-modal {
    font-family: 'Nunito';
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.alert-modal.show {
    opacity: 1;
}

.alert-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 80px 80px 50px;
    border-radius: 20px;
    width: 75%;
    max-height: 400px;
    max-width: 1000px;
    text-align: center;
}

.alert-text {
    width: 100%;
    color: #2C4A6E;
}


.alert-status {
    font-family: 'Nunito';
}

.alert-message {
    margin: 20px 50px;
    font-size: 3rem;
}

.alert-message a {
    color: #FAA548;
}

.alert-close {
    font-family: 'Nunito';
    padding: 12px 30px;
    font-size: clamp(3rem, 5vw, 5rem);
    color: #2C4A6E;
    border: none;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

.alert-close:hover {
    color: #FAA548;
}

@media (max-width: 1300px) {
    .content-container {
        box-sizing: border-box;
        max-width: 100%;
    }

    .title:not(first-of-type) {
        margin: 3vw 0 0 0;
    }

    .item-title,
    .input-wrapper label {
        font-size: clamp(2rem, 6vw, 5rem);
    }

    .alert-modal-container {
        width: 80%;
    }   

    text-area {
        font-size: 32px;
    }
}

@media (max-width: 1000px) {
    .call-to-action {
        margin-top: 5px;
    }
    
    .call-to-action h1:nth-child(2) {
        margin-top: -20px;
    }
    
    .call-to-action h1:nth-child(3) {
        margin-top: -30px;
    }

    .contact-form textarea {
        font-size: 32px;
    }

    .alert-content {
        padding: 50px 40px;
    } 
}
